{
  "presets": [
    ["env", {
      "modules": false
    }],
    "react",
    "flow"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "external-helpers"
  ],
  "env": {
    "test": {
      "presets": [["env"], "react"]
    }
  }
}
